language: go
go:
- 1.4
before_script:
- gem -v
- ruby -v
- gem install nats --pre
- which nats-server
- nats-server -v
install:
- go get golang.org/x/tools/cmd/vet
- go get golang.org/x/tools/cmd/cover
- go get github.com/mattn/goveralls
script:
- go fmt ./...
- go vet ./...
- go test -i -race ./...
- GOMAXPROCS=1 go test -v -race ./...
- GOMAXPROCS=1 go test -v -covermode=count -coverprofile=coverage.out
- $HOME/gopath/bin/goveralls -coverprofile coverage.out -service travis-ci
env:
  global:
    secure: UxWSqs4k2Sa2AqA16rbRYxkqw9eF82yjl737CCCf2ce6nQTihZ2zNOPDXMfE/JeKv6spwErzX3I2JyrSQJ9BdHTwnYHOdvajNFqoUDtM/vp89OcOBrUNNST0wlmVp8mkMSUecpBAJCaCpc8PTbkca2p7VkHv8dohdSnpxugPZX0=
