name: ci
on: 
  push:
    branches:
      - main
  pull_request:
  release:
    types: [published]

jobs:
    lint:
        runs-on: ubuntu-latest-8-cores
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
      
            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                go-version: 'stable'

            - name: Install deps
              shell: bash --noprofile --norc -x -eo pipefail {0}
              run: |
                go get -t work
                go install honnef.co/go/tools/cmd/staticcheck@latest
                go install github.com/client9/misspell/cmd/misspell@latest
                go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
            
            - name: Run linters
              shell: bash --noprofile --norc -x -eo pipefail {0}
              run: |
                $(exit $(go fmt work | wc -l))
                go vet work
                staticcheck work
                find . -type f -name "*.go" | xargs misspell -error -locale US
                golangci-lint run --timeout 5m0s ./jetstream/... ./jetstream/test/...

    test:
        runs-on: ubuntu-latest-8-cores

        strategy:
            matrix:
              go: [ "1.24", "1.25" ]
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
      
            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                go-version: ${{ matrix.go }}

            - name: Install deps
              shell: bash --noprofile --norc -x -eo pipefail {0}
              run: |
                go install github.com/mattn/goveralls@latest
                go install github.com/wadey/gocovmerge@latest

            - name: Test and coverage
              shell: bash --noprofile --norc -x -eo pipefail {0}
              run: |
                go test -v -run=TestNoRace -p=1 ./test/... --failfast -vet=off
                if [ "${{ matrix.go }}" = "1.25" ]; then
                  ./scripts/cov.sh CI
                else
                  # TODO: switch to `go test work` once CI moves to >=v1.25
                  go test -race -v -p=1 ./... --failfast -vet=off -tags=internal_testing
                  go test -race -v -p=1 ./test/... --failfast -vet=off
                  go test -race -v -p=1 ./jetstream/test/... --failfast -vet=off
                  go test -race -v -p=1 ./micro/test/... --failfast -vet=off
                fi

            - name: Coveralls
              if: matrix.go == '1.25'
              uses: coverallsapp/github-action@v2
              with:
               file: acc.out